.experience-entry {
    display: flex;

    .time-container {
        min-width: 110px;
    }

    .content-container {
        .title {
            margin: 0;
        }

        .sub-title {
            margin: 0;
            margin-top: 10px;
        }

        .list {
            font-size: 17px;
        }

        .badge-container {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;

            .badge {
                padding: 8px;
                border-radius: 16px;
                background-color: $badge-color;
            }
        }
    }
}