.section {
    padding: 10px;

    .title-container {
        display: flex;
        align-items: center;
        padding: 10px 0;

        .title {
            color: $primary;
            font-size: 16px;

            &.big {
                font-size: 22px;
            }
        }

        .line {
            flex: 1;
            height: 2px;
            background-color: $primary;
            margin-left: 10px;
        }

        &.secondary {
            .title {
                color: $sidebar_font_color;
            }
            .line {
                background-color: $sidebar_font_color;
            }
        }
    }
}